*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{    

    --cor1: #B4BEC9;
    --cor2: #159A9C;
    --cor3: #002333;
    --cor4: #DEEFE7;
    --cor5: #FFFFFF;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 50px 1fr;
    background-color: var(--cor5);
    height: 100vh;
}
#body{
    grid-template-columns: 290px 1fr;
}
header{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: var(--cor2);
    color: var(--cor5);
    height: 100vh;
    overflow: hidden;
    position: relative;
}
#conta{
    height: 70px;
    border-bottom: 2px solid #ffffff3b;
    display: flex;
    align-items: center;
    position: relative;
}
#conta span{
    font-size: 30px;
    margin: 0px 10px;
}
#conta > p{
    margin-left: 5px;
}

ul#menu{
    list-style-type: none;
}
#btn-menu{
    width: 35px;
    height: 35px;
    background-color: var(--cor3);
    color: var(--cor4);
    font-weight: bold;
    font-size: 18px;
    border-radius: 10%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    right: 7px;
}
#btn-menu:hover{
    background-color: var(--cor1);
    color: var(--cor3);
}
#menu li{
    padding: 15px 17px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.211);
    display: flex;
    flex-wrap: nowrap;
    cursor: pointer;
    transition: .3s;
}
#menu li:hover{
    background-color: var(--cor3);
}
span.icone-menu{
    color: var(--cor5);
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
main{
    grid-column: 2/3;
    grid-row: 2/3;
    margin: auto;
    color: var(--cor3);
    padding: 20px;
    background-color: var(--cor5);
}
#container-tabela{
    background-color: var(--cor4);
}
div#titulo{
    background-color: var(--cor4);
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 10px;
}
h1{
    text-align: center;
    font-size: 25px;
}
fieldset{
    padding: 20px;
    margin: 20px 0px;
    display: flex;
    gap: 26px;
    flex-wrap: wrap;
}
fieldset label{
    font-weight: bold;
}   
#outros-dados fieldset{
    display: flex;        
    flex-direction: column;
}
#outros-dados fieldset div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.btn{
    width: 140px;
    height: 50px;
}
/*-----------CONFIG INPUTS----------------*/
input{
    height: 29px;
    font-size: 18px;
}
input#inome{
    width: 400px;
}
input#icpf{
    width: 140px;
}
input#iende{
    width: 350px;
}
#observacao{
    display: flex;
    gap: 10px;
    height: 8em;
}
/*-----------------TABELA------------*/
table caption{
    font-size: 20px;
    border: 1px solid var(--cor2);
    padding: 5px;
    font-weight: bold;
}
table{
    width: 100%;
    text-align: center;
}
table, th, td{
    border-collapse: collapse;
    border-bottom: 1px solid var(--cor2);
    padding: 6px 10px;
}
table th{
    text-align: center;
    background-color: var(--cor2);
}
.texto-esquerda{
    text-align: left;
}


